.product {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
    .item-wrap {
        width: 17%;
        padding: 10px;
        border: 2px solid #ccc;
        text-align: center;
        float: left;
        margin: 10px;
        .item-img {
            width: 100%;
            padding-top: 100%;
            position: relative;
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
        }
        .item-name {
            font-weight: bold;
            text-transform: uppercase
        }
        .btn {
            width: 100px;
            background-color: green;
            color: #fff;
            margin: 10px;
            padding: 10px;
            cursor: pointer;
        }
    }
    .changeBorderColor {
        border: 2px solid red;
    }
}

.cart {
    // border: 1px solid #ccc;
    padding-top: 50px;
    width: 100%;
    &::after {
        display: block;
        content: "";
        clear: both;
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    td,
    th {
        border: 1px solid #000;
        text-align: left;
        padding: 8px;
    }
    tr:nth-child(even) {
        background-color: #e6e6e6;
    }
}