<h2>Welcome To Mobie Shop</h2>
<div class="product">
    <div class="item-wrap" [ngClass]="{changeBorderColor: item.stock < 1}" *ngFor=" let item of items ">
        <div class="item-img ">
            <img src="{{item.image}}" alt=" ">
        </div>
        <h4 class="item-name ">{{item.name}}</h4>
        <p class="stock">Số lượng: {{item.stock}}</p>
        <p class="price ">Giá: <span *ngIf="item.showPrice">{{item.price}}</span></p>
        <button class="btn btn-price" (click)="item.showPrice = true">Price</button>
        <button class="btn btn-atc " (click)="addToCart(item.id)">Add to cart</button>
    </div>
</div>